<!DOCTYPE html>
<html ng-app="realestateApp">
  <head>
    <meta charset="UTF-8">
    <title>Yes Residential Real Estate Updater App</title>

    <link rel="stylesheet" href="./vendor/mdl/material.min.css">
    <link rel="stylesheet" href="./vendor/mdl/material-icons.css">
    <link rel="stylesheet" href="./vendor/mdl/mdl-selectfield.min.css">
    <link rel="stylesheet" href="./node_modules/angular/angular-csp.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body ng-controller="RealEstateCtrl">
    <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs mdl-layout--no-drawer-button">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <div class="mdl-layout-icon"><i class="material-icons">home</i> &nbsp;</div>
          <span class="mdl-layout-title">Yes Residential Real Estate Updater App</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <span class="mdl-layout__tab tab-auth" ng-class="{'is-active': appState === AppStates.AUTH}">Authenticate</span>
          <span class="mdl-layout__tab tab-mail" ng-class="{'is-active': appState === AppStates.MAIL_SELECTION}">Select Mail</span>
          <span class="mdl-layout__tab tab-select" ng-class="{'is-active': appState === AppStates.SHEET_SELECTION}">Select Sheet</span>
          <span class="mdl-layout__tab tab-update" ng-class="{'is-active': appState === AppStates.UPDATE}">Update Data</span>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel tab-auth" ng-class="{'is-active': appState === AppStates.AUTH}">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div id="google-auth" class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Authenticate with Google Drive</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <p>You need to authenticate with the Google Drive for the software
                    to access your Google Drive based spreadsheets.</p>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="action-container" ng-hide="waiting">
                      <a id="start-auth" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect"
                          ng-click="startAuth()">
                        Authenticate
                      </a>
                    </div>
                    <div class="wait-container" ng-show="waiting">
                      <p>Authenticating and fetching your Google Spreadsheets...</p>
                      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel tab-mail" ng-class="{'is-active': appState === AppStates.MAIL_SELECTION}">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div id="google-sheet" class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Select the E-Mail as a source for data</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <p>Please select the e-mail you want to use the data from.
                      Only the mails that are labeled via user labels can be selected.</p>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="wait-container" ng-show="waiting">
                      <p>Fetching data from Gmail. Plese wait...</p>
                      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--12-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%; white-space: normal;">
                  <tr>
                    <th></th>
                    <th colspan="2" class="mdl-data-table__cell--non-numeric">
                      <div class="mdl-selectfield mdl-js-selectfield" style="width: 100%;">
                        <select id="mail_label" class="mdl-selectfield__select"
                                ng-model="selected_label" ng-change="updateMails()">
                          <option value="{{label}}" ng-repeat="label in labels">{{label}}</option>
                        </select>
                        <label class="mdl-selectfield__label" for="mail_label">Select Gmail label to filter</label>
                        <span class="mdl-selectfield__error">Select a value</span>
                      </div>
                    </th>
                  </tr>
                  <tr ng-repeat="thread in visible_threads">
                    <td class="mdl-data-table__cell--non-numeric">
                      <i class="material-icons" ng-if="thread.from == null">mail_outline</i>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      <div ng-if="thread.from == null">
                        <strong>{{thread.subject}}</strong><br>
                        {{thread.date | date : format : timezone}}
                      </div>
                      <div ng-if="thread.from != null">
                        <strong>{{thread.subject}}</strong><br>
                        From: {{thread.from}} on {{thread.date | date : format : timezone}}
                      </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                      <div ng-if="thread.from == null">
                        <button class="mdl-button mdl-js-button mdl-button--icon"
                                ng-if="thread.expanded !== true"
                                ng-click="expandThread(thread.id)">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon"
                                ng-if="thread.expanded === true"
                                ng-click="collapseThread($index)">
                          <i class="material-icons">keyboard_arrow_up</i>
                        </button>
                      </div>
                      <div ng-if="thread.from != null">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                ng-click="useMail(thread.id)">
                          <i class="material-icons">done</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel tab-select" ng-class="{'is-active': appState === AppStates.SHEET_SELECTION}">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div id="google-sheet" class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Select the Google Sheet</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <p>You need to select the Google spreadheet to be used as
                    destinantion for property updates.</p>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <ul id="sheets" class="demo-list-icon mdl-list">
                      <li class="mdl-list__item" ng-repeat="sheet in sheets">
                       <span class="mdl-list__item-primary-content">
                         <img src="./img/sheets.png" width="32px">
                         <span style="margin-left: 1em;">{{sheet.name}}</span>
                       </span>
                       <span class="mdl-list__item-secondary-action">
                         <button id="sheet-selector-{{$index}}"
                           class="mdl-button mdl-js-button mdl-button--icon">
                           <i class="material-icons">more_vert</i>
                         </button>
                         <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                             for="sheet-selector-{{$index}}" id="sheet-menu-{{$index}}">
                             <li class="mdl-menu__item" ng-repeat="insheet in sheet.sheets"
                               ng-click="sheetSelected(sheet.id, sheet.name, insheet)">{{insheet}}</li>
                          </ul>
                       </span>
                     </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel tab-update" ng-class="{'is-active': appState === AppStates.UPDATE}">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div id="google-sheet" class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Update the real estate data</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <p>Used spreadsheet: <img src="./img/sheets.png" width="16px"> {{ file_name }}</p>
                    <p>Select the e-mail to be used as a source for the real estate
                    data updates.</p>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="action-container" ng-hide="waiting">
                      <span id="estate-update" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect"
                            ng-click="selectMailAndUpdate()">
                        Push real estate data to spreadsheet
                      </span>
                    </div>
                    <div class="wait-container" ng-show="waiting">
                      <p>Reading your mail and updating Google Spreadsheet...</p>
                      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--12-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%; white-space: normal;">
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Address</td>
                    <td class="mdl-data-table__cell--non-numeric">Status</td>
                    <td>Price</td>
                  </tr>
                  <tr ng-repeat="estate in sheet_data">
                    <td class="mdl-data-table__cell--non-numeric">
                      {{estate["Street Address"]}}<br>
                      {{estate["City"]}} <br>
                      {{estate["County"]}}, {{estate["State"]}}, {{estate["Zip"]}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      {{estate["Occupancy Status"]}}
                    </td>
                    <td>
                      ${{estate["Starting Bid"] | number:0}}
                    </td>
                  </tr>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      require('babel-register');
      require('babel-polyfill');

      window.$ = require('zepto-node')(window);
      require('./vendor/mdl/material.min.js');
      require('./vendor/mdl/mdl-selectfield.min.js');
      require('./js/app.js');
    </script>
  </body>
</html>
